body {
    margin: 0;
    /* display: flex;
    flex-direction: column;
    min-height: 97svh;
    footer {
        margin-top: auto;
    } */
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    min-height: 100svh;
}
body > *:nth-child(odd) {
    background-color: wheat;
    padding: 1rem;
}
main {
    margin: 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
        Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    ul {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        list-style-type: none;
        margin: 0;
        padding: 0;

        a {
            text-decoration: none;
            color: inherit;
        }
        a:hover {
            text-decoration: underline;
        }
    }
}
footer nav {
    display: flex;

    justify-content: space-between;
    ul {
        flex-direction: column;
    }
}
h1,
h2,
h3 {
    font-family: sans-serif;
}
